.container {
  margin: 0 8%;
  height: calc(100vh - 45px - 46px);
  overflow: auto;
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.alarm_text {
  font-size: 12px;
}
.loading_screen {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  max-width: 1000px;
  font-size: 30px;
  color: white;
}
