/* DrugBox() 컴포넌트 */
.drug_box {
  border: 1px solid #757575;
  border-radius: 10px;
  background-color: white;
  height: 70px;
  display: flex;
  padding: 10px 15px;
  width: 100%;
}
.drug_box_image {
  flex: 1;
  position: relative;
  background-color: aqua;
}
.drug_box_title {
  font-size: 15px;
  font-weight: 600;
  flex: 1.4;
  text-align: center;
  align-content: center;
  padding: 0 5px;
}
.drug_box_category {
  font-size: 14px;
  font-weight: 400;
  flex: 1.4;
  text-align: center;
  align-content: center;
  padding: 0 5px;
}

/* DrugBoxDedail() 컴포넌트 */
.drug_summary_container {
  position: relative;
  width: 100%;
}
.drug_detail_container {
  height: 80px;
  margin: 0 4%;
}
.drug_detail_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 0;
}
.drug_detail_text {
  font-size: 15px;
  font-weight: 600;
}
.drug_detail_record_text {
  font-size: 14px;
  font-weight: 400;
}
