.container {
  width: 100%;
  height: calc(
    100vh - 70px - 60px - 60px - (76.5px + 4vh)
  ); /* - 바텀바 - 헤더 - 프로필 컨테이너 - 메뉴 컨테이너 */
  padding-top: 2vh;
}
.body_container {
  margin: 0 8%;
}

.hospital_list_container {
  height: calc(100vh - 60px - 70px - 60px - 12vh - 45px);
  /* - 바텀바 - 헤더 - 프로필 컨테이너 - 메뉴 컨테이너 - 검색바*/
  overflow: auto;
}
.hospital_list_menu_text {
  text-align: right;
  margin-top: 2vh;
}
.hospital_list_menu_line {
  border: none;
  background-color: black;
  height: 1px;
}
.hospital_list_text {
  padding-top: 2vh;
  font-size: 20px;
  font-weight: 600;
}
.empty_container {
  margin: 0 2%;
  height: 77.5px;
  font-size: 25px;
  font-weight: 600;
  color: #dddddd;
  text-align: center;
  align-content: center;
}
