.container {
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}
.header_backicon {
  position: absolute;
  left: 0;
  margin-left: 10px;
}
.header_text {
  font-size: 18px;
}

.body_container {
  background-color: #f6f4ea;
  height: calc(100vh - 45px);
  overflow: auto;
}
.step_container {
  margin: 10px 10%;
}

.input_text {
  font-size: 16px;
  font-weight: 700;
}
.input_box {
  width: 100%;
  border: 1px solid #c5c6cc;
  border-radius: 10px;
  padding: 0 15px;
  height: 50px;
  font-size: 18px;
}
.input_container {
  display: flex;
  align-items: center;
}

.input_button {
  width: 200px;
  margin: 5px 0;
  margin-left: 12px;
  padding: 10px;
  background-color: #545454;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}

.step_text_container {
  margin: 0 6%;
  padding-top: 15px;
}
.step_text_01 {
  font-size: 23px;
  font-weight: 500;
  font-family: "Ttwimteul";
}
.step_text_02 {
  margin-left: 8px;
  font-size: 21px;
  font-weight: 700;
}
.gender_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.gender_box {
  display: flex;
}
.agree_box {
  text-align: end;
}
.signup_button_container {
  margin: 25px 10%;
}
.signup_button {
  width: 100%;
  height: 54px;
  background-color: #f3ca52;
  color: white;
  padding: 1.5vh 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
}
