@font-face {
  font-family: "Ttwimteul";
  src: url("./HakgyoansimTtwimteulR.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./PretendardVariable.woff2") format("opentype");
  font-weight: normal;
  font-style: normal;
}
