/* PaperCalendar() 컴포넌트 */

.empty_container {
  margin: 0 2%;
  height: 77.5px;
  font-size: 25px;
  font-weight: 600;
  color: #dddddd;
  text-align: center;
  align-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.bottomsheet_container {
  position: fixed;
  bottom: 70px;
  left: 0;
  width: 100%;
  height: max-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(80%);
  transition: transform 0.3s ease-out;
  z-index: 999;
}
.drugbottomsheet_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
  touch-action: none;
}
.drugbottomsheet_body {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100vh;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
.drugbottomsheet_re_search {
  text-align: -webkit-center;
}
.drugbottomsheet_re_search_button {
  background-color: white;
  width: max-content;
  padding: 7px 15px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
.drugbottomsheet_re_search_text {
  font-size: 15px;
  padding-left: 4px;
}
.bottomsheet_header {
  height: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  align-content: center;
  touch-action: none;
}
.bottomsheet_header_line {
  border: none;
  height: 3px;
  margin: 0 40%;
  background-color: #d9d9d9;
  border: 20px;
}
.bottomsheet_content {
  margin: 0 8%;
}
.bottomsheet_content_text {
  text-align: left;
  margin-top: 2vh;
  font-size: 20px;
  font-weight: 500;
}
.bottomsheet_content_line {
  border: none;
  background-color: black;
  height: 1px;
}
