.container {
  width: 100%;
  height: calc(
    100vh - 60px - 70px - 60px - 12vh
  ); /* - 바텀바 - 헤더 - 프로필 컨테이너 - 메뉴 컨테이너 */
  overflow: auto;
}
.body_container {
  margin: 0 8%;
}

.body_text {
  font-size: 21px;
  font-weight: 600;
}
