.container {
  background-color: #f9f9f9;
  height: calc(100vh - 60px - 70px);
  width: 100%;
}
.header {
  margin: 0 6%;
}
.currentdate_text {
  font-size: 24px;
  font-weight: 700;
}

.logo_image {
  position: relative;
  height: 25vh;
  aspect-ratio: 5.2 / 6;
  margin: 1vh 0;
}

.home_text {
  margin: 0 6%;
  display: flex;
  align-items: end;
  height: max-content;
  justify-content: space-between;
}

.home_today_text {
  font-size: 26px;
  font-weight: 700;
}
.home_today_treatment_container {
  margin: 0 6%;
}
.home_today_treatment {
  margin: 10px 0;
}
.home_more_box {
  height: max-content;
  display: flex;
  align-items: center;
}

.home_more_text {
  font-size: 13px;
  font-weight: 500;
}

.treatment_container {
  background-color: white;
  margin: 0 7%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 23px;
  box-shadow: 2px 4px 4px #dddddd, -0.3px -0.3px 1px #dddddd;
}
.treatment_box_left_title {
  display: flex;
  align-items: end;
}
.treatment_box_left_content {
  display: flex;
  font-size: 11px;
  color: #858585;
  padding: 0 3px;
}
.treatment_text_left_title {
  font-size: 18px;
  font-weight: 500;
  padding: 3px;
}
.treatment_text_left_category {
  font-size: 13px;
  padding: 3px;
}
.treatment_text_left_date_01 {
  padding: 1px;
}
.treatment_text_left_date_02 {
  padding: 1px;
  margin-left: 15px;
}
.treatment_box_right {
  font-size: 11px;
  font-weight: 800;
  text-align: center;
}
.treatment_box_right_profile {
  border-radius: 50%;
  box-shadow: 2px 2px 3px #dddddd;
  position: relative;
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}
