.container {
  background-color: #f9f9f9;
  height: calc(100vh - 60px - 70px);
  width: 100%;
}

.header_menu_container {
  display: flex;
  justify-content: space-between;
  margin: 0 8%;
  height: 12vh;
  border-bottom: 1px solid #dbdbdb;
}
.header_menu_left {
  display: flex;
  align-items: center;
}
.header_calendar_right {
  width: 80px;
  align-content: end;
  margin-bottom: 2vh;
}
.header_calendar_button {
  border-radius: 20px;
  box-shadow: inset 2px 2px 3px #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding: 6px 4px;
}
.header_calendar_button_text {
  font-size: 16px;
  font-family: 800;
  padding-left: 6px;
}
