/* Header() 컴포넌트 */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}
.header_backicon {
  position: absolute;
  left: 0;
  margin-left: 10px;
  cursor: pointer;
}
.header_staricon {
  position: absolute;
  right: 0;
  margin-right: 15px;
  cursor: pointer;
}

.header_text {
  font-size: 18px;
}

/* BasicInputBox() 컴포넌트 */
.input_text {
  font-size: 16px;
  font-weight: 700;
}
.input_box {
  border: 1px solid #c5c6cc;
  border-radius: 10px;
  padding: 0 15px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  outline: 0;
}
.input_container {
  display: flex;
  align-items: center;
}

.input_button {
  width: 200px;
  margin: 5px 0;
  margin-left: 12px;
  padding: 10px;
  background-color: #545454;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}

/* ModalInputBox() 컴포넌트 */
.modal_input_container {
  display: flex;
  width: 100%;
  border: 1px solid #c5c6cc;
  border-radius: 10px;
  padding-left: 15px;
  background-color: white;
  height: 50px;
}
.modal_input_box {
  font-size: 18px;
  width: 100%;
  padding-right: 15px;
  outline: 0;
}
.modal_input_button {
  padding: 8px;
}
.search_modal_container {
  margin: 0 5%;
}
.search_modal_headline {
  height: 1px;
  background: black;
  border: none;
}
.search_modal_box {
  height: 60px;
  padding: 0 10px;
  align-content: center;
  border-bottom: 1px solid #dddddd;
}
.search_modal_text_01 {
  font-size: 16px;
  font-weight: 600;
  padding-right: 5px;
}
.search_modal_text_02 {
  font-size: 11px;
}
.search_modal_text_03 {
  font-size: 13px;
  font-weight: 300;
}

/* TextAreaInputBox() 컴포넌트 */
.input_area_box {
  width: 100%;
  border: 1px solid #c5c6cc;
  border-radius: 10px;
  padding: 12px 15px;
  height: 120px;
  font-size: 18px;
  outline: 0;
}

/* NumberSelectInputBox() 컴포넌트 */
.number_input_box {
  width: 18vw;
  border: 1px solid #c5c6cc;
  border-radius: 10px;
  padding: 0 15px;
  height: 45px;
  font-size: 18px;
  outline: 0;
}

/* NumberInputBox() 컴포넌트 */
.number_input_text {
  font-size: 18px;
  font-weight: 600;
  padding-left: 6px;
}

/* SelectInputBox() 컴포넌트 */
.select_box {
  appearance: none;
  background: url("../../../public/arrowdown.png") no-repeat calc(100% - 13px) 50%/16px auto;
  background-color: white;
  padding-right: 40px;
  outline: 0;
}
.default_text {
  color: black;
}

/* TwoCheckBox() 컴포넌트 */
.twocheck_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.twocheck_box {
  display: flex;
}

/* DayCheckBox() 컴포넌트 */
.daycheck_container {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.daycheck_box {
  font-size: 15px;
}

/* FrequentButton()  컴포넌트 */
.frequent_button {
  margin: 2vh 20%;
  height: 50px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}

/* BasicModal() 컴포넌트 */
.modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  box-shadow: 20px;
  outline: 0;
}
