.container {
  background-color: #f9f9f9;
  height: calc(100vh - 60px - 70px);
  width: 100%;
}
.body_container {
  margin: 0 5%;
}
.drug_search_box {
  width: 100%;
  display: flex;
  border: 1px solid #8e8e93;
  background-color: white;
  box-shadow: 1px 4px 4px #dddddd;
  margin-top: 5px;
}
.drug_search_input {
  font-size: 18px;
  width: 100%;
  padding: 0 15px;
  outline: 0;
}
.drug_search_button {
  padding: 10px;
}

.drug_list_container {
  height: calc(100vh - 60px - 70px - 50px);
}
