.container {
  width: 100%;
}

.body_container {
  background-color: #f6f4ea;
  height: calc(100vh - 45px);
  overflow: auto;
}
.samepassword_text {
  font-size: 11px;
  font-weight: 600;
  text-align: end;
  padding: 1px;
}
.step_container {
  margin: 10px 10%;
}

.signup_button_container {
  margin: 25px 10%;
}
.signup_button {
  width: 100%;
  height: 55px;
  background-color: #f3ca52;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  justify-items: center;
}
