.container {
  background-color: #f9f9f9;
  height: calc(100vh - 60px - 70px);
  width: 100%;
}

.header_profile_container {
  text-align: -webkit-right;
  margin: 0 8%;
  height: 60px;
  align-content: center;
}
.header_plus_box {
  display: flex;
  align-items: center;
  height: max-content;
  width: max-content;
  padding: 6px 15px;
  border-radius: 20px;
  box-shadow: 2px 4px 4px #dddddd, -0.3px -0.3px 1px #dddddd;
  cursor: pointer;
}
.header_plus_text {
  font-size: 16px;
  font-weight: 600;
  margin-left: 6px;
}

.header_menu_container {
  display: flex;
  width: max-content;
  margin: 0 8%;
  height: 12vh;
  align-items: center;
}

.header_menu_box {
  border-radius: 10px;
  background-color: "white";
  width: 85px;
  height: max-content;
  text-align: -webkit-center;
  margin: 10px 2%;
  padding: 1vh 0;
}

.header_menu_text {
  font-size: 15px;
  font-weight: 600;
  margin-top: 2px;
}

.modal_header {
  display: flex;
  height: 8vh;
  justify-content: center;
  align-items: center;
}
.modal_header_text_01 {
  font-size: 20px;
  font-weight: 600;
  padding: 0 5px;
  padding-right: 10px;
}
.modal_header_text_02 {
  font-size: 14px;
  font-weight: 600;
  padding: 0 5px;
  margin-top: 5px;
}
.modal_content {
  height: 14vh;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.modal_content_box {
  width: 40%;
  border-radius: 10px;
  align-content: center;
  text-align: -webkit-center;
}
.modal_content_text {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 600;
}
/* component.tsx */

/* TreatmentBox() */
.treatment_container {
  position: relative;
  padding: 1vh 0;
}
.treatment_stack_container {
  position: absolute;
  top: 1vh;
  border-radius: 10px;
  z-index: 1;
  width: 100%;
  background-color: rgba(236, 236, 236, 0.5);
  height: 81.5px;
}

.treatment_main_container {
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 23px;
  box-shadow: 2px 4px 4px #dddddd, -0.3px -0.3px 1px #dddddd;
}
.treatment_box_left_title {
  display: flex;
  align-items: end;
}
.treatment_box_left_content {
  display: flex;
  font-size: 11px;
  color: #858585;
  padding: 0 3px;
}
.treatment_text_left_title {
  font-size: 18px;
  font-weight: 500;
  padding: 3px;
}
.treatment_text_left_category {
  font-size: 13px;
  padding: 3px;
}
.treatment_text_left_date_01 {
  padding: 1px;
}
.treatment_text_left_date_02 {
  padding: 1px;
  margin-left: 15px;
}
.treatment_box_right {
  font-size: 11px;
  font-weight: 800;
  text-align: center;
}
.treatment_box_right_profile {
  border-radius: 50%;
  box-shadow: 2px 2px 3px #dddddd;
  position: relative;
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}
.treatment_detail_container {
  margin: 0 3%;
}
.treatment_detail_content {
  min-height: 60px;
  padding: 20px 0;
}
.treatment_detail_box {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.treatment_detail_box_left {
  display: flex;
}
.treatment_detail_button {
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  color: white;
}
.treatment_detail_button_text {
  font-size: 11px;
  font-weight: 500;
  padding-left: 4px;
  height: max-content;
}
