/* TreatmentBox() */

.treatment_container {
  position: relative;
  padding: 1vh 0;
}
.treatment_stack_container {
  position: absolute;
  top: 1vh;
  border-radius: 10px;
  z-index: 1;
  width: 100%;
  background-color: rgba(236, 236, 236, 0.5);
  height: 81.5px;
}

.treatment_main_container {
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 23px;
  box-shadow: 2px 4px 4px #dddddd, -0.3px -0.3px 1px #dddddd;
}
.treatment_box_left_title {
  display: flex;
  align-items: end;
}
.treatment_box_left_content {
  display: flex;
  font-size: 11px;
  color: #858585;
  padding: 0 3px;
}
.treatment_text_left_title {
  font-size: 18px;
  font-weight: 500;
  padding: 3px;
}
.treatment_text_left_category {
  font-size: 13px;
  padding: 3px;
}
.treatment_text_left_date_01 {
  padding: 1px;
}
.treatment_text_left_date_02 {
  padding: 1px;
  margin-left: 15px;
}
.treatment_box_dday {
  font-size: 17px;
  font-weight: 900;
  color: #0a6847;
}
.treatment_box_notdday {
  font-size: 17px;
  font-weight: 900;
}
.treatment_box_right {
  font-size: 11px;
  font-weight: 800;
  text-align: center;
}
.treatment_box_right_profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px #dddddd;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  align-content: center;
  overflow: hidden;
  color: white;
}
.treatment_detail_container {
  margin: 0 3%;
}
.treatment_detail_content {
  min-height: 60px;
  padding: 20px 0;
}
.treatment_detail_box {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.treatment_detail_box_left {
  display: flex;
}
.treatment_detail_button {
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  color: white;
}
.treatment_detail_button_text {
  font-size: 11px;
  font-weight: 500;
  padding-left: 4px;
  height: max-content;
}
