.container {
  width: 100%;
  height: calc(
    100vh - 60px - 70px - 60px - 12vh
  ); /* - 바텀바 - 헤더 - 프로필 컨테이너 - 메뉴 컨테이너 */
  padding-top: 2vh;
}
.body_container {
  margin: 0 8%;
}

.day_controller_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.day_controller_gotoday_button {
  position: absolute;
  right: 8%;
  background-color: #f6e9b2;
  font-size: 11px;
  font-weight: 900;
  font-family: "Ttwimteul";
  padding: 2px 4px;
  letter-spacing: -0.6px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 3px #dddddd;
}
.day_controller_icon {
  padding: 2%;
  cursor: pointer;
}
.day_controller_text {
  font-size: 22px;
  font-weight: 600;
}

.day_tab_container {
  width: 100%;
  margin: 2vh 0;
}
.day_tab_box {
  display: flex;
}
.day_tab_box_title {
  flex: 1;
  padding: 0 5px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}
.day_tab_box_title.active {
  font-weight: bold;
}
.day_tab_line_container {
  width: 100%;
  height: 4px;
}
.day_tab_box_line {
  position: absolute;
  width: 21%;
  left: 8%;
  height: 4px;
  transition: transform 0.3s;
  padding: 0 18px;
}
.day_tab_box_greenline {
  background-color: #0a6847;
  height: 4px;
  border-radius: 20px;
}

.day_body_container {
  width: "100%";
  height: calc(
    100vh - 60px - 70px - 60px - 12vh - 2vh - 40px - (28px + 4vh)
  ); /* - 바텀바 - 헤더 - 프로필 컨테이너 - 메뉴 컨테이너 - 패딩 - 날짜박스 - 아점저취박스*/
  overflow: "auto";
}
